.navbar {
    justify-content: space-between;

    .shop-name {
        cursor: pointer;
    }
    .myspan {
        padding-right: 1rem;
        cursor: pointer;
        .icon {
            position: relative;
            top: 5px;
        }
    }
}
